# Default ignored files
/../../POO_Semana03_Constructores./.idea/shelf/
/../../POO_Semana03_Constructores./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../POO_Semana03_Constructores./.idea/mavenHomeManager.xml
