# Default ignored files
/../../POO_Sem02_ClasesObjetosyEncapsulamiento./.idea/shelf/
/../../POO_Sem02_ClasesObjetosyEncapsulamiento./.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../POO_Sem02_ClasesObjetosyEncapsulamiento./.idea/mavenHomeManager.xml
